@font-face {
  font-family: "Butler_Light";
  src: url("../font/Butler_Light.otf");
}

@font-face {
  font-family: "Muli_Light";
  src: url("../font/Muli-Light.ttf");
}

body {
  /* position: absolute; */
  font-family: "Butler_Light";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.header h1{
  animation: slide-h1 1.5s ease-in;
  -moz-animation: slide-h1 1.5s ease-in;
  -webkit-animation: slide-h1 1.5s ease-in;
  -ms-animation: slide-h1 1.5s ease-in;

  position: relative;
  top: 22%;
  font-family: "Butler_Light";
  color: rgb(255, 255, 255);
  font-weight: 100;
	font-size: 35px;
  text-align: center;
  z-index: 999;
  
}

@keyframes slide-h1 {
  0% {
      top: 18%;
      opacity: 0;
  }
  100% {
      top: 22%;
      opacity: 1;
  }
}



/* header img*/ 

.header {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


/* title slide */

@keyframes slide {
  0% {
      position: absolute;
      top: 23%;
      opacity: 0;
  }
  100% {
      position: absolute;
      top: 25%;
      opacity: 1;
  }
}

.bg{
  padding: 0;
  margin: 0;
  width: 100%;
  height:56%;
  background: linear-gradient(#4a69ff 0%, #1ad9e7 100%);
}

.bg:after {
  padding: 0;
  margin: 0;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -20px;
  width:105%;
  height: 56%;
  z-index: 1;
  background-color: rgba(6, 41, 73, 0.377);
}

.header h2 {
  animation: slide 1.5s ease-in;
  -moz-animation: slide 1.5s ease-in;
  -webkit-animation: slide 1.5s ease-in;
  -ms-animation: slide 1.5s ease-in;
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 25px;
	color: rgba(255, 255, 255, 0.616);
  height: 20%;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  cursor: default;
  z-index: 3;
}

.header .link{
  font-family: 'Butler_Light';
  display: flex;
  justify-content: center;
  position: relative;
  top: 0%;
  padding-top: 36%;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  text-transform: capitalize;
  text-decoration: none;
  color: rgba(19, 100, 155, 0.705);

  animation: appear 1s ease-in;
  -moz-animation: appear 1s ease-in;
  -webkit-animation: appear 1s ease-in;
  -ms-animation: appear 1s ease-in;
}


.header .choice{
  width: 250px;
  height: 250px;
  margin: 2%;
  /* background: linear-gradient(#4a69ff 0%, #1ad9e7 100%); */
  background: rgb(255, 255, 255);
  /* border-radius: 70%; */
  z-index: 3;
  padding: 0%;
  text-align: center;
  animation: appear 0.5s ease-in;
  -moz-animation: appear 0.5s ease-in;
  -webkit-animation: appear 0.5s ease-in;
  -ms-animation: appear 0.5s ease-in;
  box-shadow: 1px 2px 10px #1ad9e7,1px 1px 2px #4a69ff;
}

.header .choice:hover,.header .choice:focus {
  filter: drop-shadow(2px 5px 10px #8cc9f170); 
  cursor: pointer;
  /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
  background:#0d72a1;
  animation: appear-color 0.5s ease-in;
  -moz-animation: appear-color 0.5s ease-in;
  -webkit-animation: appear-color 0.5s ease-in;
  -ms-animation: appear-color 0.5s ease-in;
}



@keyframes appear-color {
  0% {
    /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
    background:#0d72a1;
    opacity: 0.2;
  }
  20%{
    /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
    background:#0d72a1;
    opacity:0.4;
  }
  40%{
    /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
    background:#0d72a1;
    opacity:0.6;
  }
  80%{
    /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
    background:#0d72a1;
    opacity:0.8;
  }
  100% {
    /* background:linear-gradient(#116ec5 0%, #1ad9e7 100%);  */
    background:#0d72a1;
    opacity: 1;
  }
}

.header .link:hover,.header .link:focus{
  color: white;
}

@keyframes appear {
  0% {
   
      opacity: 0;
  }
  100% {

      opacity: 1;
  }
}


/* responsivity */

@media screen and (max-width: 868px){
  .header .link{
    font-size: 1.5em;
  }
  
  .header .choice{
    width: 150px;
    height: 150px;
    margin: 5%;
  }

  
.header h1{
  top: 31%;
  left: 3%;
	font-size: 30px;
}
@keyframes slide-h1 {
  0% {
      top: 28%;
      opacity: 0;
  }
  100% {
      top: 31%;
      opacity: 1;
  }
}
.header h2 {
  top: 28%;
  font-size: 20px;
}

@keyframes slide {
  0% {
      position: absolute;
      top: 25%;
      opacity: 0;
  }
  100% {
      position: absolute;
      top: 28%;
      opacity: 1;
  }
}

.cardCours{
  height: 400px;
}
}




/*end for mobiles*/

